<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body style="background-color:pink;color:black">

<h1 style="background-color:blue;color:white"><center>MATHEMATICAL OPERATIONS</center></h1>
<h2><form action='opperations/'method="get">
  Enter first number  <input type="text"name="num1"placeholder="number1"><br>
    Enter second number<input type="text"name="num2"placeholder="number2"><br>
    For Answer<input type="submit"><br>
</form></h2>
</body>
</html>